$color-main-darker: rgb(31 32 65 / 100%);
$color-main-dark: rgb(31 32 65 / 75%);
$color-main-middle: rgb(31 32 65 / 50%);
$color-main-light: rgb(31 32 65 / 25%);
$color-main-lighter: rgb(31 32 65 / 5%);
$color-main: #bc9cff;
$color-secondary: #6fcf97;
$header-button-first-color: #bc9cff;
$header-button-second-color: #8ba4f9;
$gradient-main: linear-gradient(180deg, $color-main 0%, $header-button-second-color 100%);
$gradient-secondary: linear-gradient(180deg, $color-secondary 0%, #66d2ea 100%);
