$dark100:rgba(31, 32, 65, 1);
$dark75:rgba(31, 32, 65, 0.75);
$dark50:rgba(31, 32, 65, 0.5);
$dark25:rgba(31, 32, 65, 0.25);
$dark5:rgba(31, 32, 65, 0.05);
$purple:#BC9CFF;
$green:#6FCF97;
$header__button-first-color:#BC9CFF;
$header__button-second-color:#8BA4F9;

