@import 'colors';

%arrow {
    position: relative;
    width: 15px;
    height: 2px;

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: -3px;
        right: -2px;
        background-color: inherit;
        transform: rotate(45deg);
    }

    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: 3px;
        right: -2px;
        background-color: inherit;
        transform: rotate(-45deg);
    }
}

%open-button-chevron-part {
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: $dark50;
    transform-origin: bottom;
    right: 50%;
    content: '';
}

%open-button-chevron {
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    z-index: 0;
    width: 15px;
    height: 15px;

    &::after {
        @extend %open-button-chevron-part;

        transform: rotate(-45deg);
    }

    &::before {
        @extend %open-button-chevron-part;

        transform: rotate(45deg);
    }
}

%card {
    padding: 40px 30px 30px;
    border-radius: 4px;
    box-shadow: 0 0 25px rgb(0 0 0 / 20%);
    background: #fff;
    border: 1px solid rgb(0 0 0 / 12%);

    @media (max-width: 370px) {
        padding: 25px 20px 20px;
    }
}

%container {
    max-width: 1190px;
    margin: 0 auto;
}

%wrapper {
    max-width: 1940px;
    margin: 0 auto;
}
