.container.form-elements__container
    include ../../blocks/text-field/text-field
    .form-elements__inner
        label(class='form-elements__label') Text field
            +text-field
        label(class='form-elements__label' for='dropdown') dropdown
            include ../../blocks/dropdown/dropdown
        label(class='form-elements__label') masked text field
            include ../../blocks/masked-text-field/masked-text-field
        label(class='form-elements__label' for='date-dropdown') date Dropdown
            include ../../blocks/date-dropdown/date-dropdown
        label(class='form-elements__label' for='filter-date-dropdown') filter date dropdown
            include ../../blocks/filter-date-dropdown/filter-date-dropdown
        label(class='form-elements__label') subscription text field
            include ../../blocks/subscription-text-field/subscription-text-field
            +subscription-text-field
        label( class='form-elements__label' for='split-dropdown') split dropdown
            include ../../blocks/split-dropdown/split-dropdown
        label(class='form-elements__label' for='expandable-checkbox') expandable checkbox list
            include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
    .form-elements__inner
        label(class='form-elements__label' for='checkbox_buttons') Checkbox Buttons
            include ../../blocks/checkbox_buttons/checkbox_buttons
        label(class='form-elements__label' for='radio-buttons') radio buttons
            include ../../blocks/radio-buttons/radio-buttons
        label(class='form-elements__label' for='toggle') toggle
            include ../../blocks/toggle/toggle
        label(class='form-elements__label' for='like-button') like button
            div
                include ../../blocks/like-button/like-button
        label(class='form-elements__label' for='rate-button') rate button
            div
                include ../../blocks/rate-button/rate-button
        label(class='form-elements__label' for='rich-checkbox-buttons') rich Checkbox Buttons
            include ../../blocks/rich-checbox-buttons/rich-checbox-buttons
    .form-elements__inner
        label(class='form-elements__label' for='range-slider') range slider
            include ../../blocks/range-slider/range-slider
