extends ../../templates/template
include ../../blocks/buttons/button
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/comment/comment
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/date-dropdown-double/date-dropdown-double
include ../../blocks/like-button/like-button
include ../../blocks/bullet-list/bullet-list
include ../../blocks/dropdown/dropdown
include ../../blocks/masked-text-field/masked-text-field
include ../../blocks/pagination/pagination
include ../../blocks/pros/pros
include ../../blocks/radio-buttons/radio-buttons
include ../../blocks/range-slider/range-slider
include ../../blocks/rate-button/rate-button
include ../../blocks/rich-checbox-buttons/rich-checbox-buttons
include ../../blocks/subscription-text-field/subscription-text-field
include ../../blocks/text-field/text-field
include ../../blocks/toggle/toggle

block title
    title form-elements

block content
    .form-elements__container
        .form-elements__inner
            .form-elements__label
                p Text field
                +text-field
            .form-elements__label
                p dropdown
                +dropdown({type: 'default'})
            .form-elements__label
                p masked text field
                +masked-text-field
            .form-elements__label
                p date Dropdown
                -
                    const doubleDateDropdownOptions = {
                        placeholder: 'ДД.ММ.ГГГГ'
                    }
                +date-dropdown-double(doubleDateDropdownOptions)
            .form-elements__label
                p filter date dropdown
                -
                    const dateDropdownOptions = {
                        placeholder: 'ДД.ММ. - ДД.ММ.',
                    }
                +date-dropdown(dateDropdownOptions)
            .form-elements__label
                p subscription text field
                +subscription-text-field
            .form-elements__label
                p dropdown
                +dropdown({type:'rooms'})
            .form-elements__label
                +expandable-checkbox({
                    text: 'expandable checkbox list',
                    items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']
                })
        .form-elements__inner
            .form-elements__label
                p Checkbox Buttons
                +checkbox-buttons(['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
            .form-elements__label
                p radio buttons
                +radio-buttons(['Мужчина', 'Женщина'])
            .form-elements__label
                p toggle
                -
                    const toggleOptions = [
                        {isChecked: true, text: 'Получать спецпредложения'},
                        {isChecked: false, text: 'Получать спам'}
                    ]
                each obj in toggleOptions
                    +toggle(obj)
            .form-elements__label
                p like button
                div
                    +like-button({likes: 2})
            .form-elements__label
                p rate button
                div
                    +rate-button({count: 1, unique: 'form-elements'})
            .form-elements__label
                p rich Checkbox Buttons
                +rich-checkbox-buttons({
                    'Широкий коридор': 'Ширина коридоров в номере не менее 91 см.',
                    'Помощник для инвалидов': 'На 1 этаже вас встретит специалист и проводит до номера.'
                })
        .form-elements__inner
            .form-elements__label
                p range slider
                +range-slider
            .form-elements__label
                p buttons
                .form-elements__button-wrapper
                    +button({text: 'click me', size: 'default'})
                .form-elements__button-wrapper
                    +button({text: 'click ME', size: 'default', type: 'transparent'})
                .form-elements__button-wrapper
                    +button({text: 'clickkk meee', size: 'default', type: 'with-text'})
                .form-elements__button-wrapper
                    +button({text: 'long click me', size: 'long', withArrow: true})
            .form-elements__label
                p pagination
                +pagination
            .form-elements__label
                p bullet list
                +bullet-list(['Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00'])
    .low-container
        -
            const prosOptions = [
                {
                    img: '../../../assets/images/insert-emoticon.png',
                    title: 'Комфорт',
                    text: 'Шумопоглощающие стены'
                },
                {
                    img: '../../../assets/images/location-city.png',
                    title: 'Удобство',
                    text: 'Окно в каждой из спален'
                }
            ]
        +pros(prosOptions)
        +comment({
            name: 'Мурад Сарафанов',
            time: '5 дней назад',
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            likes: 2,
            img: '../../../assets/images/man.png'
        })
