.container.form-elements__container
    include ../../blocks/text-field/text-field
    label Text field
        +text-field
    label(for='dropdown') dropdown
        include ../../blocks/dropdown/dropdown
    label masked text field
        include ../../blocks/masked-text-field/masked-text-field
    label(for='date-dropdown') date Dropdown
        include ../../blocks/date-dropdown/date-dropdown
