extends ../../templates/template
include ../../blocks/buttons/button
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/comment/comment
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/date-dropdown/date-dropdown
block title
    title form-elements

block content
    .wrapper
        .container.form-elements__container
            include ../../blocks/text-field/text-field
            .form-elements__inner
                div(class='form-elements__label') Text field
                    +text-field
                div(class='form-elements__label') dropdown
                    include ../../blocks/dropdown/dropdown
                    +dropdown('dropdown', 'default')
                div(class='form-elements__label') masked text field
                    include ../../blocks/masked-text-field/masked-text-field
                div(class='form-elements__label') date Dropdown
                    -
                        var obj = [
                            {
                                class: 'js-form-elements__date-dropdown_start',
                                placeholder: 'ДД.ММ.ГГГГ'
                            },
                            {
                                class: 'js-form-elements__date-dropdown_end',
                                placeholder: 'ДД.ММ.ГГГГ'
                            }
                        ]
                    +date-dropdown(obj)
                div(class='form-elements__label') filter date dropdown
                    -
                        var obj = [
                            {
                                class: 'js-form-elements__filter-date-dropdown_start',
                                placeholder: 'ДД.ММ. - ДД.ММ.',
                                size: 'long'
                            }
                        ]
                    +date-dropdown(obj)
                div(class='form-elements__label') subscription text field
                    include ../../blocks/subscription-text-field/subscription-text-field
                    +subscription-text-field
                div( class='form-elements__label') split dropdown
                    include ../../blocks/dropdown/dropdown
                    +dropdown('split-dropdown', 'rooms')
                div(class='form-elements__label')
                    +expandable-checkbox({
                        text: 'expandable checkbox list',
                        items: ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь'],
                        jsClass: 'js-expandable-checkbox__list'
                    })
            .form-elements__inner
                div(class='form-elements__label') Checkbox Buttons
                    +checkbox-buttons({items: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})
                div(class='form-elements__label') radio buttons
                    include ../../blocks/radio-buttons/radio-buttons
                div(class='form-elements__label') toggle
                    include ../../blocks/toggle/toggle
                div(class='form-elements__label') like button
                    div
                        include ../../blocks/like-button/like-button
                div(class='form-elements__label') rate button
                    div
                        include ../../blocks/rate-button/rate-button
                        +rate-button
                div(class='form-elements__label') rich Checkbox Buttons
                    include ../../blocks/rich-checbox-buttons/rich-checbox-buttons
            .form-elements__inner
                div(class='form-elements__label') range slider
                    include ../../blocks/range-slider/range-slider
                div(class='form-elements__label') buttons
                    div
                        +button({text: 'click me', size: 'default'})
                    div
                        +button({text: 'click ME', size: 'default', type: 'transparent'})
                    div
                        +button({text: 'clickkk meee', size: 'default', type: 'text'})
                    div
                        +button({text: 'long click me', 'size': 'long', arrow: 'true'})
                div(class='form-elements__label') pagination
                    include ../../blocks/pagination/pagination
                div(class='form-elements__label') bullet list
                    include ../../blocks/bullet-list/bullet-list
                    -
                        var arr = ['Нельзя с питомцами',
                            'Без вечеринок и мероприятий',
                            'Время прибытия — после 13:00, а выезд до 12:00']
                    +bullet-list(arr)
        div.low-container
            include ../../blocks/pros/pros
            -
                var obj = [
                    {
                        img: '../../../assets/images/insert-emoticon.png',
                        title: 'Комфорт',
                        text: 'Шумопоглощающие стены',
                    },
                    {
                        img: '../../../assets/images/location-city.png',
                        title: 'Удобство',
                        text: 'Окно в каждой из спален'
                    }
                ]
            +pros-item(obj)
            +comment({
                name: 'Мурад Сарафанов',
                time: '5 дней назад',
                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
                likes: 2,
                img: '../../../assets/images/man.png'
            })
