.container.form-elements__container
    include ../../blocks/text-field/text-field
    label Text field
        +text-field
    label text field
        +text-field(id='focus-field')
    label(for='dropdown') dropdown
        include ../../blocks/dropdown/dropdown
    label masked text field
        include ../../blocks/masked-text-field/masked-text-field
