mixin checkbox-items(obj)
    ul.expandable-checkbox__list.js-expandable-checkbox__list
        each val in obj
            li.expandable-checkbox__item
                label
                    input(type='checkbox' class='expandable-checkbox__check')
                    p.expandable-checkbox__item-text= val
