mixin log-in-buttons
    a.log-in-button.header__button
        span.log-in-button__text Войти
    a.sign-up-button.header__button
        span.sign-up-button__text Зарегистрироваться

mixin cabinet-button
    a.cabinet Юлий Цезарь
