mixin date-dropdown(options)
    -var options = options || {}
    .date-dropdown(class=options.className)
        span.date-dropdown__open-button
        include ../text-field/text-field
        if options.range
            +text-field(data-date-format="dd M" id=options.id data-range=options.range data-multiple-dates-separator=" - " class='date-dropdown-input' placeholder='ДД.ММ - ДД.ММ' readonly='readonly')
        else
            +text-field(id=options.id class='date-dropdown-input' placeholder='ДД.ММ.ГГГГ' readonly='readonly')

