@import '../../../scss/common/colors';
@import '../../../scss/common/templates';

.date-dropdown {
    background-color: #fff;
    width: 100%;

    &__input {
        width: 100%;
        background-color: transparent;
        position: relative;
        font-family: inherit;

        &-title {
            color: $dark100;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 15px;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &-open-button {
            @extend %open-button-chevron;

            bottom: 12px;
            right: 16px;
        }

        &_active .date-dropdown__input-open-button {
            transform: rotate(180deg) translateY(40%);
        }

        &_long {
            max-width: 266px;
        }
    }
}
