mixin date-dropdown(id, className)
    -var newClass = className || ''
    .date-dropdown(id='date-dropdown' class=newClass)
        span.date-dropdown__open-button
        include ../text-field/text-field
        +text-field(id=id class='date-dropdown-input' placeholder='ДД.ММ.ГГГГ' readonly='readonly')
