include ../text-field/text-field

mixin date-dropdown({title = ['', ''], placeholder = '', type = 'single'} = {})
    -
        let className = 'date-dropdown'
    if (type === 'double')
        - className= className + '_double'
        .date-dropdown.js-date-dropdown(class=className data-double='true')
            .date-dropdown__input.date-dropdown__input.js-date-dropdown__input
                p.date-dropdown__input-title= title[0]
                +text-field({withDropdown: true, placeholder: placeholder, isReadonly: true})
                span.date-dropdown__input-open-button
            .date-dropdown__input.date-dropdown__input.js-date-dropdown__input
                p.date-dropdown__input-title= title[1]
                +text-field({withDropdown: true, placeholder: placeholder, isReadonly: true})
                span.date-dropdown__input-open-button
    else
        .date-dropdown.js-date-dropdown(data-double='false')
            .date-dropdown__input.date-dropdown__input_long.js-date-dropdown__input
                p.date-dropdown__input-title= title[0]
                +text-field({withDropdown: true, placeholder: placeholder, isReadonly: true})
                span.date-dropdown__input-open-button



