include ../text-field/text-field

mixin date-dropdown(options)
    -
        var options = options || {}
    .date-dropdown
        each option in options
            -
                let title = option.title || ''
                let placeholder = option.placeholder || ''
                let size = option.size ? 'long' : 'default'
            .date-dropdown__input(class = options.class class = `date-dropdown__input_${size}`)
                p.date-dropdown__input-title= title
                +text-field(class= option.class class= 'date-dropdown__input-field' placeholder=placeholder readonly)
                span.date-dropdown__input-open-button.open-button-chevron


