include ../text-field/text-field

mixin date-dropdown(options = {})
    .date-dropdown
        each option in options
            -
                let title = option.title || ''
                let placeholder = option.placeholder || ''
                let size = option.size ? 'long' : 'default'
            .date-dropdown__input(class = options.class class = `date-dropdown__input_${size}`)
                p.date-dropdown__input-title= title
                +text-field({dropdown:'dropdown'})(class=option.class  placeholder=placeholder readonly)
                span.date-dropdown__input-open-button


