@import '../../../scss/common/colors';
@import '../../../scss/common/templates';

.date-dropdown {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 370px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__input {
        max-width: 150px;
        width: 100%;
        background-color: transparent;
        position: relative;

        @media (max-width: 370px) {
            max-width: 300px;
            width: 100%;
        }

        &-title {
            color: $dark100;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 15px;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &-field {
            cursor: pointer;
            background-color: transparent;
        }

        &-open-button {
            bottom: 12px;
            right: 16px;
        }

        &_active .date-dropdown__input-open-button {
            transform: rotate(180deg) translateY(40%);
        }

        &_long {
            max-width: 266px;
        }
    }
}
