include ../text-field/text-field

mixin date-dropdown(options)
    -
        var options = options || {}
    .date-dropdown
        each option in options
            -
                let title = option.title || 'Input'
                let placeholder = option.placeholder || 'Hold'
            .date-dropdown__input(class = options.class)
                p.date-dropdown__input-title= title
                +text-field(class= option.class class= 'date-dropdown__input-field' placeholder=placeholder readonly)
                span.date-dropdown__input-open-button


