mixin button({text = 'click me', size = '', type = '', withArrow = false, modifier = '', htmlType = 'button'} = {})
    -
        let className = 'button';
        if (size === 'long') {
            className += ` button_size_${size}`;
        }
        if (type === 'transparent' || type === 'with-text')
            className += ` button_type_${type}`;
        if (modifier === 'flat')
            className += ` button_modifier_${modifier}`
    button(class=className, type=htmlType)= text
        if (withArrow)
            span.button__arrow
