mixin button({text = 'click me', size = '', type = '', withArrow = false, height = '', htmlType = 'button', href = false} = {})
    -
        const tag = htmlType === 'link' ? 'a' : 'button'
        const buttonType = !(htmlType === 'link') && htmlType
        const sizeModifiers = {
            long: 'button_size_long'
        }
        const typeModifiers = {
            perforated: 'button_type_perforated',
            withText: 'button_with-text'
        }
        const heightModifiers = {
            flat: 'button_height_flat'
        }
        const classes = [
            'button',
            sizeModifiers[size],
            typeModifiers[type],
            heightModifiers[height]
        ]
    #{tag}(class=classes, type=buttonType, href=href)= text
        if (withArrow)
            span.button__arrow
