extends ../../templates/page-template
include ../../blocks/find-room/find-room

block title
    title landing

block content
    .landing.js-landing
        .landing__main.js-landing__main
            .landing__main-inner
                +find-room
                span.landing__main-text Лучшие номера для вашей работы, отдыха и просто вдохновения
