mixin rate-button(count, unique)
    -
        var unique = unique || ''
        var count = count || 0
    .rate-button
        .rate-button__inner
            -var n = 5;
            while n > 0
                input(checked=`${n === count}` id = 'rate-button__item' + n + unique class='rate-button__item' value=n type="radio" name='rating' + unique)
                label(class="rate-button__star" for='rate-button__item' + n + unique)
                -n--;


