include ../buttons/button
mixin calendar
    .calendar
        .calendar__inner.js-calendar__inner
        .calendar__buttons
            +button({text: 'click', type: 'text'})
            +button({text: 'click', type: 'text'})
