@import '../../scss/common/colors';
@import '../../scss/common/templates';

.pagination {
    height: 50px;

    &__info {
        line-height: 24px;
        font-weight: normal;
        color: $color-main-dark;
        text-transform: none;
        font-size: 14px;
    }

    &js {
        &-prev {
            background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
            border-radius: 22px;
            display: block;
            position: relative;
            cursor: pointer;
        }

        &-next {
            @extend.paginationjs-prev;
        }

        &-pages {
            & > ul {
                display: flex;

                & > li {
                    flex: 0 0 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;

                    & a {
                        color: $color-main-middle;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }

                & > .active {
                    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                    border-radius: 22px;
                    width: 40px;
                    height: 40px;

                    & a {
                        color: white;
                    }
                }
            }
        }
    }

    &__arrow {
        @extend %arrow;

        &-next {
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
        }

        &-prev {
            @extend.pagination__arrow-next;

            transform: translateX(-50%) rotate(180deg);
        }
    }
}
