.filter-date-dropdown#filter-date-dropdown
    span.filter-date-dropdown__open-button
    include ../text-field/text-field
    +text-field(class='filter-date-dropdown-input' placeholder='ДД.ММ.ГГГГ' readonly='readonly')
