extends ../../templates/page-template
include ../../blocks/login/login

block title
    title Sign In

block content
    .sign-in.js-sign-in
        main.sign-in__main
            .sign-in__card-wrapper
                +login
