mixin log-in-buttons
    a.log-in-button.header__button
        +button({text: 'Войти', type: 'transparent', size: 'default', modifier: 'flat'})
    a.sign-up-button.header__button
        +button({text: 'Зарегистрироваться', size: 'long', modifier: 'flat'})
