@import "../../../../scss/common/colors";

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 25px 10px 0 20px;
}

.header__menu-wrapper {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-item {
  line-height: 17px;
  color: $dark50;
  position: relative;

  &:first-child {
    font-weight: bold;
    color:$dark100;
  }

  & > .header__menu-dropdown {
    margin-right: rem(44);
  }

  & a {
    margin-right: rem(20);
  }

}

.header__menu-dropdown {
  right: 0;
  position: relative;
  display: block;
  cursor: pointer;
  &_active::after{
    transform: rotate(180deg);
  }
  &::after {
    transition: .3s;
    position: absolute;
    content: url("../../../../assets/images/arrow-down.png");
    right: -17px;
    top: 0;
  }


}


.header__dropdown-item {
  display: none;
  position:absolute;
  border-radius: 8px;
  left: 0;
  border: 1px solid black;
  padding: 4px;
  & a{
    margin: 0;
  }

  @for $i from 1 through 3{
    &:nth-child(#{$i}){
      top:$i * 30px;
    }
  }

}

.header__buttons {
  display: flex;
}

.header__button {
  border-radius: 22px;
  font-weight: bold;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, $header__button-first-color, $header__button-second-color);
    border-radius: 22px;
    z-index: -2;
  }
}

.log-in-button {
  background: white;
  color: $header__button-first-color;
  width: 83px;
  height: 30px;
  margin-right: rem(24);

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    border-radius: 22px;
    top: 0;
    left: -1;
    width: 105%;
    height: 105%;
    background: linear-gradient(180deg, $header__button-first-color, $header__button-second-color);
    transition: .6s;
    opacity: 0;
  }

  &:hover {
    color: white;
  }

  &:hover::after {
    opacity: 1;
  }
}

.log-in-button__text {
  z-index: 1;
}

.sign-up-button {
  color: white;
  width: 192px;
  height: 30px;

  &:hover {
    background-color: white;
    color: $header__button-first-color;
  }
}

.cabinet{
  line-height: 17px;
  color: $dark50;
  padding:6px 0 6px 20px;
  display: block;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  &:hover{
    text-decoration: underline;
  }
}
