@import "../../../../scss/common/colors";
@import "../../../../scss/common/functions";
.header{
  background-color: #fff;
  width: 100%;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  &__container{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }
  &__menu-wrapper{
    display: flex;
    align-items: center;
    z-index: 2;

  }
  &__menu {
    display: flex;
    align-items: center;
    &-item {
      line-height: 17px;
      color: $dark50;
      position: relative;

      //&:first-child {
      //  font-weight: bold;
      //  color:$dark100;
      //}
      //&:hover > a, &:hover > ul {
      //  font-weight: bold;
      //  color: $dark100;
      //}
      & > .header__menu-dropdown {
        margin-right: rem(44);
      }

      & a {
        margin-right: rem(20);
      }

    }
    &-dropdown {
      right: 0;
      position: relative;
      display: block;
      cursor: pointer;
      &_active::after{
        transform: rotate(180deg);
      }
      &::after {
        transition: .3s;
        position: absolute;
        content: url("../../../../assets/images/arrow-down.png");
        right: -17px;
        top: 0;
      }


    }
  }
  &__dropdown-item {
    display: none;
    position:absolute;
    border-radius: 8px;
    left: 0;
    border: 1px solid black;
    font-weight: initial;
    padding: 4px;
    background-color: #FFFFFF;
    & a{
      margin: 0;
    }

    @for $i from 1 through 3{
      &:nth-child(#{$i}){
        top:$i * 30px;
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 20px;
  }
  &__button{
    &>div{
      height: 34px;
    }
  }
}

.log-in-button{
  width: 87px;
}

.sign-up-button{
  width: 196px;
}

.cabinet{
  line-height: 17px;
  color: $dark50;
  padding:6px 0 6px 20px;
  display: block;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  &:hover{
    text-decoration: underline;
  }
}
.side-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -70%;
  //left: 0;
  width: 70%;
  height:100%;
  background-color: #FFFFFF;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 25px;
  &__holder{
    position: absolute;
    width: 5%;
    height: 100%;
    right: -5%;
    top: 0;
    background-color: transparent;
  }

  &__menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    &-dropdown{
      display: flex;
      flex-direction: column;
      gap: 5px;

      & .side-menu__dropdown-item{
        display: none;
        align-self: center;
      }
    }
  }
  &__buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
@import "header-media";
