mixin log-in-buttons
    include ../../buttons/transparent-button
    include ../../buttons/long-button
    a.log-in-button.header__button
        +transparent-button('Войти')
    a.sign-up-button.header__button
        +long-button('Зарегистрироваться', false)

mixin cabinet-button
    a.cabinet Юлий Цезарь
