mixin radio-buttons(choices = [])
    .radio-buttons
        each choice in choices
            label.radio-buttons__label
                input(name='radio' class='radio-buttons__button' type='radio')
                p.radio-buttons__text= choice
