mixin radio-buttons(obj = [])
    .radio-buttons
        each val in obj
            label.radio-buttons__label
                input(name='radio' class='radio-buttons__button' type='radio')
                p.radio-buttons__text= val
