@import '../../scss/common/colors';

.radio-buttons {
    display: flex;
    gap: 40px;
    max-width: 220px;
    position: relative;
    left: 22px;

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__text {
        color: $color-main-dark;
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
        text-transform: initial;
        margin-left: 10px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: -32px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #fff;
            transition: 0.2s;
            border: 1px solid $color-main-light;
        }

        &::before {
            content: '';
            position: absolute;
            left: -28px;
            top: 50%;
            transform: translateY(-66%);
            opacity: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transition: 0.2s;
            z-index: 2;
        }
    }

    &__button {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + .radio-buttons__text::after {
            border: 1px solid $color-first;
        }

        &:checked + .radio-buttons__text::before {
            background: linear-gradient(180deg, $color-first 0%, #8ba4f9 100%);
            opacity: 1;
        }
    }
}
