doctype html
html(lang='ru')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        //- SEO
        //- Basic Seo
        block basicSeo
            meta(name='description' content='Index page')
            meta(name='author' content='')

        block links
            link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet' type='text/css')
        block title
            title title
    body
