include ../blocks/header/header
include ../blocks/footer/footer

doctype html
html(lang='ru')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        block title
            title title

        //- Basic Seo
        block basicSeo
            meta(name='description' content='Index page')
            meta(name='author' content='')

        block links
            link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet' type='text/css')
            link(rel='shortcut icon' href='../../assets/favicon/favicon.ico' type="image/x-icon")
    body
        -
            const headerOption = [
                {text: 'О нас', isDropdown: false},
                {text: 'Услуги', items: ['Покупка', 'Покупка', 'Покупка'], isDropdown: true},
                {text: 'Вакансии', isDropdown: false},
                {text: 'Новости', isDropdown: false},
                {text: 'Соглашение', items: ['О воде', 'О солях'], isDropdown: true}
            ]
        +header({isAuthorized: false, options: headerOption})
        block content
        +footer

