extends ../../templates/template
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/login/login

block title
    title Sign In

block content
    .sign-in
        -
            const headerOptions = [
                {text: 'О нас', isDropdown: false},
                {text: 'Услуги', items: ['Покупка', 'Покупка', 'Покупка'], isDropdown: true},
                {text: 'Вакансии', isDropdown: false},
                {text: 'Новости', isDropdown: false},
                {text: 'Соглашение', items: ['О воде', 'О солях'], isDropdown: true}
            ]
        +header({isAuthorized: false, options: headerOptions})
        main.sign-in__main
            .sign-in__card-wrapper
                +login
        +footer
