extends ../../templates/template
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/login/login

block title
    title Sign In

block content
    .sign-in
        +header({isAuthorized: false})
        main.sign-in__main
            .sign-in__card-wrapper
                +login
        +footer
