extends ../../templates/page-template
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/pagination/pagination
include ../../blocks/range-slider/range-slider
include ../../blocks/rich-checbox-buttons/rich-checbox-buttons
include ../../blocks/room-card/room-card

block title
    title search-room

block content
    .search-room.js-search-room
        main.search-room__main
            aside.search-room__aside
                ul.search-room__list
                    li.search-room__item.search-room__item_small-margin.js-search-room__item(data-move="no")
                        .search-room__dropdown-layout.js-search-room__dropdown-layout-date-dropdown
                            -
                                const dateDropdownOptions = {
                                    placeholder: 'ДД.ММ. - ДД.ММ.',
                                    titles: ['даты пребывания в отеле'],
                                    type: 'single'
                                }
                            +date-dropdown(dateDropdownOptions)
                    li.search-room__item.js-search-room__item(data-move="no")
                        .search-room__dropdown-layout.js-search-room__dropdown-layout
                            +dropdown({
                                type: 'default',
                                title: 'Гости',
                                wordsArray: ["взрослые", 'дети', "младенцы"],
                                withButtons: true,
                                placeholder: 'Сколько комнат'
                            })
                    li.search-room__item.js-search-room__item.js-search-room__item-range-slider(data-move="no")
                        .search-room__slider-layout диапазон цены
                        +range-slider
                        span.search-room__item-extra-text Стоимость за сутки пребывания в номере
                    li.search-room__item.js-search-room__item
                        .search-room__layout правила дома
                            +checkbox-buttons(['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
                    li.search-room__item.js-search-room__item
                        .search-room__layout доступность
                        +rich-checkbox-buttons({
                            'Широкий коридор': 'Ширина коридоров в номере не менее 91 см.',
                            'Помощник для инвалидов': 'На 1 этаже вас встретит специалист и проводит до номера.'
                        })

                    li.search-room__item.js-search-room__item.js-search-room__item-dropdown
                        +dropdown({
                            type: 'rooms',
                            title: 'удобства номера',
                            wordsArray: ["спальни", 'кровати', "ванные комнаты"],
                            placeholder: 'Сколько комнат'
                        })
                    li.search-room__item.js-search-room__item
                        .search-room__layout.js-search-room__layout-expandable-checkbox
                            +expandable-checkbox({
                                text: 'Дополнительные удобства',
                                items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'],
                            })
                    ul.search-room__small-menu.js-search-room__small-menu
                        p.search-room__layout(data-attr='small-menu-title') фильтр
                        .search-room__small-menu-content
            .search-room__content.js-search-room__content
                p.search-room__content-title Номера, которые мы для вас подобрали
                -
                    const roomsArray = [{
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'qwe'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '840',
                        type: '',
                        cost: '9 990₽',
                        rating: 4,
                        reviews: 65,
                        uniqueID: 'qw1'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '980',
                        type: 'люкс',
                        cost: '8 500₽',
                        rating: 3,
                        reviews: 35,
                        uniqueID: 'qw'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '88',
                        type: '',
                        cost: '990₽',
                        rating: 5,
                        reviews: 14,
                        uniqueID: 'wer'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '18',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'ert'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '234',
                        type: 'люкс',
                        cost: '9 8990₽',
                        rating: 5,
                        reviews: 95,
                        uniqueID: 'rty'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '668',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'tyu'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'iop'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'asd'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: '',
                        cost: '9 990₽',
                        rating: 1,
                        reviews: 5,
                        uniqueID: 'sdf'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'zxc'
                    }, {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'xcv'
                    }]
                each room in roomsArray
                    +room-card(room)
                .search-room__pagination-wrapper.js-search-room__pagination-wrapper
                    +pagination
