@import "../../../../scss/common/colors";
.rate-button{
  display: inline-block;
  &__inner{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;

  }
  &__item{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    &:checked, &:checked ~ .rate-button__star:before{
      content: url("../../../../assets/img/star.svg");
    }
  }
  &__star{
    height: 100%;
    cursor: pointer;
    &::before{
      content: url("../../../../assets/img/star_border.svg");
      display: block;
      transition: .3s;
    }
    &:hover:before, &:hover ~ &:before{
        content: url("../../../../assets/img/star.svg");
    }
  }
}
