mixin comment(options)
    -var options = options || {}
    .comment
        .comment__info
            .comment__info-img
            .comment__info-inner
                .comment__info-author=options.name
                .comment__info-time=options.time
        .comment__content
            include ../like-button/like-button
            p.comment__content-text=options.text
