@import '../../../scss/common/colors';

%info-author {
    color: $dark75;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.comment {
    max-width: 710px;

    &__info {
        display: flex;
        margin-bottom: 13px;

        &-img {
            border-radius: 50%;

            &-wrapper {
                width: 48px;
                height: 48px;
                border: 2px solid #fff;
                filter: drop-shadow(0 10px 20px rgb(31 32 65 / 10%));
                border-radius: 32px;
                margin-right: 10px;
            }
        }

        &-author {
            @extend %info-author;
        }

        &-time {
            @extend %info-author;

            font-weight: normal;
        }
    }

    &__content {
        display: flex;

        &-text {
            @extend %info-author;

            font-weight: normal;
            margin-left: 15px;
        }
    }
}
