mixin list-item-colors(obj)
    each text,title in obj
        li.column__colors-list-item
            .column__item-color
            .column__item-info
                .column__info-title= title
                .column__info-text= text

mixin list-item-type(obj)
    each text,tag in obj
        li.column__type-list-item
            p.column__item-tag=tag
            p.column__item-text=text

block title
    title colors & type
    .colors-type__container
        .column
            ul.column__list
                - var obj = {'Dark Shade 100%':'#1F2041', 'Dark Shade 75%':'#1F2041', 'Dark Shade 50%':'#1F2041', 'Dark Shade 25%':'#1F2041','Dark Shade 5%':'#1F2041', 'Purple':'#BC9CFF', 'Green':'#6FCF97' }
                +list-item-colors(obj)
        .column
            ul.column__list
                -var obj2 = {'H1':'This one is the sub-section or widget title', 'H2':'Next one is the item title inside widgets', "H3":'This is a label or CTA text', "Body":'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}
                +list-item-type(obj2)
