mixin text-field({padding = '', dropdown = ''} = {})
    -
        const paddingClass = padding === 'right' ? `text-field_${padding}` : ''
        const dropdownClass = dropdown === 'dropdown' ? `text-field_${dropdown}` : ''
    input.text-field(placeholder='Email' type='text' class=paddingClass class=dropdownClass)&attributes(attributes)
