mixin text-field({padding = false, dropdown = false} = {})
    -
        const paddingClass = padding ? 'text-field_with-padding' : ''
        const dropdownClass = dropdown ? 'text-field_with-dropdown' : ''
    input.text-field(placeholder='Email' type='text' class=paddingClass class=dropdownClass)&attributes(attributes)
