mixin text-field(options = {})
    -
        const paddingClass = options.padding ? `text-field_${options.padding}` : ''
        const dropdownClass = options.dropdown ? `text-field_${options.dropdown}` : ''
    input.text-field(placeholder='Email' type='text' class=paddingClass class=dropdownClass)&attributes(attributes)
