extends ../../templates/template
include ../../blocks/header/header
include ../../blocks/footer/footer

block title
    title header&footer

block content
    .header-footer
        .header-footer__container
            .header-footer__wrapper
                +header({isAuthorized: false})
            //.header-footer__wrapper
            //    +header({isAuthorized: true, name: 'Юлий Цезарь'})
            .header-footer__wrapper
                +footer
