extends ../../templates/template
include ../../blocks/header/header
include ../../blocks/footer/footer

block title
    title header&footer

block content
    .header-footer
        .header-footer__container
            .header-footer__wrapper
                +header(false)
            //.header-footer__wrapper
            //    +header(true, 'Юлий Цезарь')
            .header-footer__wrapper
                +footer
