extends ../../templates/template
include ../../blocks/header/header

block title
    title header&footer

block content
    .wrapper.header-footer
        .header-footer__container
            .header-footer__wrapper
                +header(false)
            //.header-footer__wrapper
            //    - var isAuthorized = true
            //    include ../../blocks/header/header
            .header-footer__wrapper
                include ../../blocks/footer/footer
