@import '../../../../scss/common/colors';

.date-dropdown {
  width: 150px;
  position: relative;
  cursor: pointer;
  background-color: #fff;

  & .date-dropdown-input {
    cursor: pointer;
    background-color: transparent;
  }

  &__open-button {
    content: url('../../../../assets/images/arrow-down.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  &_active .date-dropdown__open-button {
    transform: rotate(180deg) translateY(50%);
  }
}

.filter-date-dropdown {
  width: 266px;
}

.datepicker--pointer {
  display: none;
}

.toggle-datepicker {
  width: 320px;
  padding: 14px 20px 20px;
}
