@import '../../../scss/common/colors';
%open-button-chevron {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: $dark50;
  transform-origin: bottom;
  right: 50%;
  content: '';
}

.expandable-checkbox {
  position: relative;
  max-width: 266px;

  &__open-button {
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    right: 0;
    z-index: 1;
    width: 15px;
    height: 15px;

    &::after {
      @extend %open-button-chevron;

      transform: rotate(-45deg);
    }

    &::before {
      @extend %open-button-chevron;

      transform: rotate(45deg);
    }

    &_active {
      transform: rotate(180deg);
    }
  }

  &__inner {
    position: absolute;
    z-index: 2;
    background-color: white;

    &_hide {
      display: none;
    }
  }
}
