include ../checkbox-buttons/checkbox-buttons

mixin expandable-checkbox({text = 'text', items = [], jsClass = ''})
    .expandable-checkbox
        span.expandable-checkbox__text=text
        span.expandable-checkbox__open-button(class=jsClass)
        .expandable-checkbox__inner.js-expandable-checkbox__inner
            +checkbox-buttons({jsClass: jsClass, items: items})
