mixin expandable-checkbox(text)
    .expandable-checkbox=text
        span.expandable-checkbox__open-button.js-expandable-checkbox__open-button
        .expandable-checkbox__inner
            include expandable-checkbox-list-kit/expandable-checkbox-list-mixin
            -var obj = ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь']
            +checkbox-items(obj)
