@import '../../scss/common/colors';
@import '../../scss/common/templates';

.expandable-checkbox {
    position: relative;
    max-width: 266px;

    &__open-button {
        @extend %open-button-chevron;

        right: 15px;
        bottom: 3px;

        &_active {
            transform: rotate(180deg);
        }
    }

    &__inner {
        position: absolute;
        z-index: 2;
        background-color: white;

        &_hide {
            display: none;
        }
    }
}
