include ../date-dropdown-double/date-dropdown-double
include ../button/button
include ../dropdown/dropdown

mixin find-room()
    .find-room
        p.find-room__title Найдём номера под ваши пожелания
        .find-room__dates
            -
                const dateDropdownDoubleOptions = {
                    title1: 'Прибытие',
                    title2: 'Выезд',
                    placeholder: 'ДД.ММ.ГГГГ'
                }
            +date-dropdown-double(dateDropdownDoubleOptions)
        div.find-room__layout
            p.find-room__layout-text гости
            +dropdown({type: 'default'})
        .find-room__long-button-wrapper
            +button({text: 'Подобрать номер', size: 'long', withArrow: true})
