include ../date-dropdown/date-dropdown
include ../button/button
include ../dropdown/dropdown

mixin find-room()
    .find-room
        p.find-room__title Найдём номера под ваши пожелания
        .find-room__dates
            -
                const dateDropdownDoubleOptions = {
                    title: ['Прибытие', 'Выезд'],
                    placeholder: 'ДД.ММ.ГГГГ',
                    type: 'double'
                }
            +date-dropdown(dateDropdownDoubleOptions)
        div.find-room__layout
            +dropdown({type: 'default', title: 'гости'})
        .find-room__long-button-wrapper
            +button({text: 'Подобрать номер', size: 'long', withArrow: true})
