include ../buttons/button
.card.find-room
    p.find-room__title Найдём номера под ваши пожелания
    .find-room__dates
        include ../double-date-dropdown/double-date-dropdown
        -
            var obj = [
                {
                    id: 'find-room__date-dropdown',
                    idUnique: 'find-room__date-dropdown_start',
                    text: 'прибытие',
                    class: 'find-room__date-dropdown-start'
                },
                {
                    id: 'find-room__date-dropdown',
                    idUnique: 'find-room__date-dropdown_end',
                    text: 'выезд',
                    class: 'find-room__date-text-field'
                }
            ]
        +double-date-dropdown(obj)
    div.find-room__layout
        p.find-room__layout-text гости
        include ../dropdown/dropdown
        +dropdown('find-room__dropdown', 'default')
    .find-room__long-button-wrapper
        +button({text: 'Подобрать номер', size: 'long', arrow: true})
