.card.find-room
    p.find-room__title Найдём номера под ваши пожелания
    .find-room__dates
        include ../double-date-dropdown/double-date-dropdown
        -
            var obj = [
                {
                    id: 'find-room__date-dropdown',
                    idUnique:'find-room__date-dropdown_start',
                    text: 'прибытие'
                },
                {
                    id:'find-room__date-dropdown',
                    idUnique: 'find-room__date-dropdown_end',
                    text:'выезд'
                }
            ]
        +double-date-dropdown(obj)
    div.find-room__layout
        p.find-room__layout-text гости
        include ../dropdown/dropdown
        +dropdown('find-room__dropdown', 'default')
    include ../buttons/long-button
    .find-room__long-button-wrapper
        +long-button('подобрать номер', true)
