mixin button({text = 'click me', size = '', type = '', withArrow = false, modifier = ''} = {})
    -
        let sizeType = 'default';
        let className = 'button';
        if (size === 'long') {
            sizeType = size;
            className += ` button__${sizeType}`;
        }
        if (type === 'transparent' || type === 'text')
            className += ` button__${type}`;
        if (modifier === 'flat')
            className += ` button__${modifier}`
    button(class=className)= text
        if (withArrow)
            span.button__arrow
