mixin button({text = 'click me', size = '', type = '', withArrow = false, modifier = ''} = {})
    -
        let className = 'button';
        if (size === 'long') {
            className += ` button_${size}`;
        }
        if (type === 'transparent' || type === 'with-text')
            className += ` button_${type}`;
        if (modifier === 'flat')
            className += ` button_${modifier}`
    button(class=className)= text
        if (withArrow)
            span.button__arrow
