mixin pagination
    .pagination&attributes(attributes)
    .pagination__info
        <span class='pagination__info1'></span> – <span class='pagination__info2'></span> из <span class='pagination__info3'></span> вариантов аренды



