mixin pagination(jsClass = '')
    .pagination(class=jsClass)&attributes(attributes)
    .pagination__info
        <span class='pagination__info1 js-pagination__info1'></span> – <span class='pagination__info2 js-pagination__info2'></span> из <span class='pagination__info3 js-pagination__info3'></span> вариантов аренды



