@import '../../../scss/common/colors';

.room-details {
    &__gallery {
        grid-template-areas:
            'A A C'
            'A A B';
        display: grid;

        & img {
            max-width: 100%;
            width: 100%;
        }

        & img:nth-child(1) {
            grid-area: A;
        }

        & img:nth-child(2) {
            grid-area: B;
        }

        & img:nth-child(3) {
            grid-area: C;
            display: grid;
        }

        & img:not(:first-child) {
            display: grid;
        }
    }

    &__inner {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 70px;
        padding-top: 68px;
        padding-bottom: 60px;

        @media (max-width: 1200px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        & .card {
            align-self: baseline;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__item {
        display: flex;
        width: 100%;
        column-gap: 81px;

        @media (max-width: 770px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            padding: 0 20px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        color: $dark100;
    }

    &__canvas-wrapper {
        span {
            position: absolute;
            color: $purple;
            font-weight: bold;
            left: 50%;
            transform: translate(-50%);
        }

        .canvas-count {
            font-size: 24px;
            line-height: 29px;
            top: 30%;
        }

        .canvas-word {
            font-size: 12px;
            line-height: 15px;
            top: 55%;
            text-transform: uppercase;
        }

        .canvas-legend {
            position: absolute;
            bottom: 2px;
            left: calc(100% + 45px);

            &__colors {
                font-size: 14px;
                line-height: 24px;
                color: $dark75;
                position: relative;

                &::before {
                    position: absolute;
                    content: ' ';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    left: -15px;
                    top: 25%;
                }
            }

            .color-0 {
                &::before {
                    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                }
            }

            .color-1 {
                &::before {
                    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
                }
            }

            .color-2 {
                &::before {
                    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                }
            }

            .color-3 {
                &::before {
                    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
                }
            }
        }
    }

    &__rating {
        width: 310px;
        height: 170px;

        @extend.room-details__reviews;
    }

    &__reviews {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .room-details__title {
            position: relative;

            span {
                position: absolute;
                right: 0;
                bottom: 4px;
                color: $dark50;
                line-height: 14px;
                font-weight: normal;
                font-size: 14px;

                @media (max-width: 420px) {
                    top: 25px;
                    left: 0;
                }
            }
        }
    }

    &__rules {
        max-width: 260px;
        padding-left: 20px;
        margin-right: 20px;

        @extend.room-details__reviews;
    }

    &__abort {
        max-width: 341px;

        @extend.room-details__reviews;

        &-text {
            font-size: 14px;
            line-height: 24px;
            color: $dark75;
        }
    }
}
