mixin list-item-colors(obj)
    each text,title in obj
        li.column__colors-list-item
            .column__item-color
            .column__item-info
                .column__info-title= title
                .column__info-text= text

mixin list-item-type(obj)
    each text,tag in obj
        li.column__type-list-item
            p.column__item-tag=tag
            p.column__item-text=text
