extends ../../templates/page-template
include ../../blocks/registration/registration

block title
    title registration

block content
    .registration-page.js-registration-page
        main.registration-page__main
            .registration-page__card-wrapper
                +registration
