@import '../../../scss/common/colors';

.bullet-list {
  &__item {
    color: $dark75;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: initial;
    position: relative;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: $dark25;
      border-radius: 50%;
      left: -20px;
      transform: translateY(50%);
    }
  }
}
