include checkbox_buttons-kit/checkbox_buttons-mixin
.checkbox-buttons#checkbox_buttons
    ul.checkbox-buttons__list
        -var obj = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
        +check_button(obj)
