@import "../../../../scss/common/colors";

.default-button{
  display: inline-block;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding: 14px 19px;
  cursor: pointer;
  transition: .2s;
  &__text{
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &:hover{
    opacity: 0.5;
  }
}
.transparent-button{
  @extend .default-button;
  background: white;
  border: 2px solid #BC9CFF;
  &__text{
    @extend .default-button__text;
    color: #BC9CFF;
  }
  &:hover{
    opacity: 0.5;
  }
}

.text-button{
  cursor: pointer;
  display: inline-block;

  &__text{
    transition: .2s;

    @extend .transparent-button__text;
  }
  &:hover &__text{
    color: $dark50;
  }
}

.long-button{
  @extend .default-button;
  text-align: center;
  max-width: 320px;
  width: 100%;
  position: relative;
  &__text{
    @extend .default-button__text;
  }
  &__arrow{
    position: relative;
    width: 15px;
    height: 2px;
    background-color: white;
    left: 100%;
    top:-8px;
    transform: translateX(-50%);
    &::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: -2px;
      background-color: white;
      transform: rotate(45deg);
    }
    &::before{
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: -2px;
      background-color: white;
      transform: rotate(-45deg)
    }
  }
}
