extends templates/template
block title
    title Toxin

block content
    .wrapper
         // - var isAuthorized = true
         // include blocks/header/header
         // - isAuthorized = false
         // include blocks/header/header
         // include blocks/footer/footer
         // include pages/colors-type/colors-type
         include pages/form-elements/form-elements
