@import '../../scss/common/templates';

.index {
    @extend %wrapper;

    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

    &__link {
        font-size: 22px;
        text-transform: uppercase;
    }
}
