@import '../../scss/common/colors';

%text {
    position: absolute;
    color: $purple;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.canvas {
    &__count {
        @extend %text;

        font-size: 24px;
        line-height: 29px;
        top: 30%;
    }

    &__word {
        @extend %text;

        font-size: 12px;
        line-height: 15px;
        top: 55%;
        text-transform: uppercase;
    }

    &__legend {
        position: absolute;
        bottom: 2px;
        left: calc(100% + 45px);

        &-colors {
            font-size: 14px;
            line-height: 24px;
            color: $dark75;
            position: relative;

            &::before {
                position: absolute;
                content: ' ';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: -15px;
                top: 25%;
            }
        }

        &-color-0 {
            &::before {
                background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
            }
        }

        &-color-1 {
            &::before {
                background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
            }
        }

        &-color-2 {
            &::before {
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            }
        }

        &-color-3 {
            &::before {
                background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
            }
        }
    }
}
