include ../buttons/button
include ../masked-text-field/masked-text-field
include ../radio-buttons/radio-buttons
include ../text-field/text-field
include ../toggle/toggle

mixin registration
    .registration
        .registration__layout
            p.registration__layout-text.registration__layout-text_big Регистрация аккаунта
            .registration__input-wrapper
                +text-field({placeholder: 'Имя'})
            .registration__input-wrapper
                +text-field({placeholder: 'Фамилия'})
            +radio-buttons(['Мужчина', "Женщина"])
        .registration__layout
            p.registration__layout-text дата рождения
            +masked-text-field
        .registration__layout
            p.registration__layout-text данные для входа в сервис
            .registration__input-wrapper
                +text-field({placeholder: 'Email', type: 'email'})
            .registration__input-wrapper
                +text-field({placeholder: 'Пароль', type: 'password'})
            - const toggleOptions = [{isChecked: true, text: 'Получать спецпредложения'}]
            each obj in toggleOptions
                +toggle(obj)
        +button({text: 'Зарегистрироваться', size: 'long', withArrow: true})
        .registration__bottom
            p.registration__bottom-text Уже есть аккаунт на Toxin
            +button({text: 'Войти', size: 'default', type: 'transparent'})

