include ../subscription-text-field/subscription-text-field
include ../column-list/column-list
include ../font-awesome-icon/font-awesome-icon

mixin footer(footerColumns)
    footer.footer
        .footer__container
            .footer__top
                .footer__top-description
                    a(href='landing.html').footer__logo
                        img(src='../../assets/images/logo.svg')
                    p.footer__description-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                each column in footerColumns
                    .footer__column-list-wrapper
                        +column-list(column)
                .footer__subscribe
                    p.footer__subscribe-title Подписка
                    p.footer__subscribe-text Получайте специальные предложения и новости сервиса
                    +subscription-text-field
            .footer__down
                p.footer__down-copyright Copyright © 2018 Toxin отель. Все права защищены.
                .footer__social-media
                    a(href='/mock-address/change-me').footer__social-media-link
                        +font-awesome-icon({
                            typeClass: 'fab',
                            iconClass: 'fa-twitter'
                        })
                    a(href='/mock-address/change-me').footer__social-media-link
                        +font-awesome-icon({
                            typeClass: 'fab',
                            iconClass: 'fa-facebook-square'
                        })
                    a(href='/mock-address/change-me').footer__social-media-link
                        +font-awesome-icon({
                            typeClass: 'fab',
                            iconClass: 'fa-instagram'
                        })
        .footer-line
