@import '../../scss/common/colors';
@import '../../scss/common/functions';
@import '../../scss/common/templates';

%column-item {
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: $color-main-middle;
    text-transform: none;
    margin-top: 22px;
    display: block;
}

%column-list {
    max-width: rem(150);
    text-transform: uppercase;
    color: $color-main-darker;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: 1060px) {
        display: none;
    }
}

.footer {
    padding-top: rem(99);
    background-color: #fff;
    position: relative;
    border-top: 1px solid rgb(31 32 65 / 10%);

    @media (max-width: 1060px) {
        padding: 120px 0;
    }

    &__logo {
        display: block;
    }

    &__container {
        @extend %container;

        padding-left: 15px;

        @media (max-width: 1060px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }

    &__top {
        padding-bottom: rem(100);

        & > * {
            display: inline-block;
        }

        @media (max-width: 1060px) {
            padding-bottom: 20px;
        }

        &-description {
            max-width: rem(260);
            margin-right: 37px;
            vertical-align: top;

            @media (max-width: 1060px) {
                margin: 0 auto;
            }

            @media (max-width: 1200px) {
                margin-right: 24px;
            }
        }
    }

    &__description-text {
        margin-top: 14px;
        line-height: 24px;
        color: $color-main-dark;

        @media (max-width: 1060px) {
            display: none;
        }
    }

    &__column-list-wrapper {
        vertical-align: top;
        margin-top: 5px;

        @media (max-width: 1060px) {
            display: none;
        }

        &:nth-child(2) {
            margin-right: 54px;

            @media (max-width: 1200px) {
                margin-right: 24px;
            }
        }

        &:nth-child(3) {
            margin-right: 89px;

            @media (max-width: 1200px) {
                margin-right: 24px;
            }
        }

        &:nth-child(4) {
            margin-right: 47px;

            @media (max-width: 1200px) {
                margin-right: 24px;
            }
        }
    }

    &__subscribe {
        @extend %column-list;

        margin-top: 5px;
        max-width: rem(260);

        @media (max-width: 1060px) {
            display: none;
        }

        &-text {
            @extend %column-item;

            margin-top: 19px;
            line-height: 23px;
            margin-bottom: 23px;
        }
    }

    &-line {
        width: 100%;
        position: absolute;
        height: 1px;
        bottom: 70px;
        border-top: 1px solid rgb(31 32 65 / 10%);

        @media (max-width: 1060px) {
            display: none;
        }
    }

    &__down {
        position: relative;
        padding: 30px 16px 23px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1060px) {
            flex-direction: column;
            padding: 0;
            gap: 25px;
            align-items: center;
        }

        &-copyright {
            color: $color-main-dark;
            line-height: 16px;
            text-align: center;
        }
    }

    &__social-media {
        display: flex;

        &-link {
            display: block;
            margin-left: 23px;
            line-height: 23px;
            font-size: 24px;
            background: linear-gradient(180deg, #bc9cff, #8ba4f9);
            background-clip: text;
            color: transparent;
            margin-top: -6px;
        }
    }
}
