include ../log-in-buttons/log-in-buttons
include ../cabinet-button/cabinet-button

mixin side-menu({isAuthorized = false} = {})
    .side-menu.js-side-menu
        .side-menu__holder
        nav.side-menu__nav
            ul.side-menu__menu
                -
                    const options = [
                        {text: 'О нас', isDropdown: false},
                        {text: 'Услуги', items: ['Покупка', 'Покупка', 'Покупка'], isDropdown: true},
                        {text: 'Вакансии', isDropdown: false},
                        {text: 'Новости', isDropdown: false},
                        {text: 'Соглашение', items: ['О воде', 'О солях'], isDropdown: true}
                    ]
                each option in options
                    li.side-menu__menu-item
                        if (option.isDropdown)
                            ul.side-menu__menu-dropdown.js-side-menu__menu-dropdown= option.text
                                each item in option.items
                                    li.side-menu__dropdown-item.js-side-menu__dropdown-item
                                        a= item
                        else
                            a= option.text
        .side-menu__buttons
            if !isAuthorized
                +log-in-buttons
            else
                +cabinet-button({name: 'Юлий Цезарь'})
