@import "../../../../scss/common/colors";
.cards{
  &__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:40px
  }
  &__item:nth-child(2){
    grid-row-start: 2;
  }
}
