@import '../../scss/common/colors';
@import '../../scss/common/templates';

.dropdown {
    max-width: 320px;
    position: relative;

    &__open-button {
        @extend %open-button-chevron;

        top: 65%;
        transform: translateY(-25%);
        right: 13px;
    }

    &__input {
        position: relative;
        z-index: 1;
        max-width: 320px;
        height: 44px;
        width: 100%;
        display: block;
        border-radius: 4px;
        background-color: transparent;
        font-size: 14px;
        border: 1px solid $color-main-light;
        cursor: pointer;
        line-height: 18px;
        color: $color-main-dark;
        padding: 8px 44px 8px 15px;

        &:hover,
        &:focus {
            border: 1px solid rgb(31 32 65 / 50%);
        }

        &-wrapper {
            &_active {
                & .dropdown__open-button {
                    transform: rotate(180deg) translateY(50%);
                }

                .dropdown__input {
                    border-radius: 4px 4px 0 0;
                    border-color: $color-main-middle;
                }
            }

            &-title {
                color: $color-main-darker;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 15px;
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
    }

    &__list {
        position: absolute;
        width: 100%;
        border: 1px solid $color-main-middle;
        border-top: none;
        box-shadow: 0 10px 20px $color-main-lighter;
        border-radius: 0 0 5px 5px;
        padding: 5px 7px 13px 15px;
        background-color: #fff;
        display: none;
        z-index: 4;

        &_active {
            display: block;
        }
    }

    &-rooms {
        .dropdown__list {
            padding-bottom: 0;
        }
    }

    &__interactive {
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
    }
}
