extends ../../templates/template
include ../../blocks/find-room/find-room
include ../../blocks/calendar/calendar
include ../../blocks/login/login
include ../../blocks/registration/registration
include ../../blocks/reservation/reservation
include ../../blocks/room-card/room-card

block title
    title cards

block content
    .wrapper
        .container.cards__container
            .cards__item
                -
                    var obj = [
                        {
                            title: 'Прибытие',
                            class: 'js-cards__date-dropdown_start',
                            placeholder: 'ДД.ММ.ГГГГ'
                        },
                        {
                            title: 'Выезд',
                            class: 'js-cards__date-dropdown_end',
                            placeholder: 'ДД.ММ.ГГГГ'
                        }
                    ]
                +find-room(obj)
                +registration
            .cards__item
                +reservation
                +login
            .cards__item
                +calendar
                -
                    var obj = {
                        images: ['../../../assets/images/room.png', '../../../assets/images/room.png', '../../../assets/images/room.png', '../../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 145,
                        uniqueID: 'qwe'
                    }
                +room-card(obj)
                -
                    var obj = {
                        images: ['../../../assets/images/room.png', '../../../assets/images/room.png', '../../../assets/images/room.png', '../../../assets/images/room.png'],
                        number: '56',
                        type: '',
                        cost: '990₽',
                        rating: 2,
                        reviews: 14,
                        uniqueID: 'rty'
                    }
                +room-card(obj)
