@import '../../../scss/common/colors';
@import '../../../scss/common/templates';

.cards {
    &__container {
        @extend %container;

        display: flex;
        gap: 40px;
        padding: 80px 0;
    }

    &__item {
        display: flex;
        flex-flow: column;
        gap: 40px;
    }
}
