extends ../../templates/template
block title
    title cards

block content
    .wrapper
        .container
            include ../../blocks/find-room/find-room
            include ../../blocks/registration/registration
