extends ../../templates/template
block title
    title cards

block content
    .wrapper
        .container.cards__container
            div.cards__item
                include ../../blocks/find-room/find-room
            div.cards__item
                include ../../blocks/registration/registration
            div.cards__item
                include ../../blocks/reservation/reservation
            div.cards__item
                include ../../blocks/login/login
            div.cards__item
                include ../../blocks/calendar/calendar
                +calendar
