extends ../../templates/template
block title
    title index

block content
    .wrapper.index
        a(href='./form-elements.html') form-elements
        a(href='./colors-type.html') colors-type
        a(href='./cards.html') cards
