extends ../../templates/template
block title
    title index

block content
    .wrapper.index
        a(href='./form-elements.html') Form-elements
        a(href='./colors-type.html') Colors-type
        a(href='./cards.html') Cards
        a(href='./header-footer.html') Header&footer
        a(href='./landing.html') Landing
        a(href='./search-room.html') Search-room
        a(href='./room-details.html') Room-details
        a(href='./registration.html') Registration
        a(href='./signIn.html') SignIn
