extends ../../templates/template
block title
    title index

block content
    .wrapper.index
        a(href='./form-elements.html') form-elements
        a(href='./colors-type.html') colors-type
        a(href='./cards.html') cards
        a(href='./header-footer.html') header&footer
        a(href='./landing.html') landing
        a(href='./search-room.html') search-room
        a(href='./room-details.html') room-details
        a(href='./registration.html') registration
        a(href='./signIn.html') signIn
