extends ../../templates/template
block title
    title index

block content
    .index
        a.index__link(href='./form-elements.html') Form-elements
        a.index__link(href='./colors-type.html') Colors-type
        a.index__link(href='./cards.html') Cards
        a.index__link(href='./header-footer.html') Header&footer
        a.index__link(href='./landing.html') Landing
        a.index__link(href='./search-room.html') Search-room
        a.index__link(href='./room-details.html') Room-details
        a.index__link(href='./registration.html') Registration
        a.index__link(href='./sign-in.html') Sign-in
