include rich-checkbox-buttons-kit/rich-checkbox-buttons-mixin
.rich-checkbox-buttons
    ul.rich-checkbox-buttons__list
        -var obj = {'Широкий коридор':'Ширина коридоров в номере не менее 91 см.', 'Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'}
        +rich_check_button(obj)
