mixin rich_check_button(obj)
    each description, text in obj
        li.rich-checkbox-buttons__item
            label
                input(type='checkbox' class='rich-checkbox-buttons__check')
                p.rich-checkbox-buttons__item-text= text
            p.rich-checkbox-buttons__description= description

mixin rich-checkbox-buttons(obj)
    -
        var obj = obj || {}
    .rich-checkbox-buttons
        ul.rich-checkbox-buttons__list
            +rich_check_button(obj)
