@import '../../../scss/common/colors';

.rich-checkbox-buttons {
  max-width: 266px;
  position: relative;

  &__item {
    margin-bottom: 10px;
    margin-left: 20px;

    &:first-child {
      margin-top: 18px;
    }

    & label * {
      cursor: pointer;
    }
  }

  &__item-text {
    margin-left: 10px;
    color: $dark75;
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    text-transform: initial;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -32px;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background: #fff;
      transition: 0.2s;
      border: 1px solid $dark25;
    }
  }

  &__check {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .rich-checkbox-buttons__item-text::after {
      border: 1px solid $purple;
      background-image: url('../../../assets/images/check.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__description {
    color: $dark50;
    line-height: 14px;
    font-weight: normal;
    text-transform: initial;
    margin-left: 10px;
    margin-top: 5px;
  }
}
