include ../text-field/text-field

mixin subscription-text-field
    .subscription-text-field
        button.subscription-text-field__button
            span
        +text-field({padding: 'right'})(type='email')


