include ../text-field/text-field

mixin subscription-text-field
    .subscription-text-field
        button.subscription-text-field__button
            span.subscription-text-field__button-inner
        +text-field({withPadding: true, type: 'email'})


