@import "../../../../scss/common/colors";
@import "../../../../scss/common/functions";
.footer{
  padding-top: rem(104);
  background-color: #FFFFFF;
  position: relative;
  border-top:1px solid rgba(31, 32, 65, 0.1);
  &__logo{
    margin-top: -3px;
  }
  &__container{
    padding: 0 15px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(100);
    &-description{
      max-width: rem(260);
    }
  }
  &__description-text{
    margin-top: 14px;
    line-height: 24px;
    color: $dark75;
  }
  &__column-list{
    max-width: rem(150);
    text-transform: uppercase;
    color: $dark100;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
  &__column-item{
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: $dark50;
    text-transform: none;
    margin-top: 22px;
    display: block;
  }
  &__subscribe{
    @extend .footer__column-list;
    max-width: rem(260);
    &-text{
      @extend .footer__column-item;
      line-height: 23px;
      margin-bottom: 21px;
    }

  }
  &-line{
    width: 1440px;
    position: absolute;
    height: 1px;
    bottom: 70px;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }
  &__down{
    position: relative;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    &-copyright{
      color: $dark75;
      line-height: 17px;
    }
  }
  &__social-media{
    display: flex;
    &-link{
      display: block;
      margin-left: 23px;
      line-height: 23px;
      font-size: 24px;
      background: linear-gradient(180deg,#BC9CFF, #8BA4F9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -6px;
    }
  }
}

@import "footer-media";




