mixin checkbox-buttons(items = [])
    ul.checkbox-buttons
        each val in items
            li.checkbox-buttons__item
                label
                    input(type='checkbox' class='checkbox-buttons__check')
                    p.checkbox-buttons__item-text= val
