include ../buttons/button
include ../text-field/text-field

mixin login
    .login&attributes(attributes)
        .login__title
            p.login__title-text Войти
        .login__inputs
            +text-field(placeholder='Email')
            +text-field(placeholder='Пароль')
        .login__button
            +button({text: 'Войти', size: 'long', arrow: true})
        .login__bottom
            p.login__bottom-text Нет аккаунта на Toxin?
            +button({text: 'Создать', size: 'default', type: 'transparent'})

