.card.login
    .login__title
        p.login__title-text Войти
    .login__inputs
        include ../text-field/text-field
        +text-field(placeholder='Email' class='login__input')
        +text-field(placeholder='Пароль' class='login__input')
    .login__button
        include ../buttons/long-button
        +long-button('войти', true)
    .login__bottom
        p.login__bottom-text Нет аккаунта на Toxin?
        include ../buttons/transparent-button
        +transparent-button('Создать')

