.text-field-wrapper {
  position: relative;
  max-width: 267px;
  height: 44px;

  & .subscription-input {
    padding-right: 44px;
  }
}

.subscription-text-button {
  position: absolute;
  z-index: 2;
  background-image: url('../../../../assets/images/arrow-forward.png');
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
