include ../subscription-text-field/subscription-text-field
include ../column-list/column-list

mixin footer()
    footer.footer
        .footer__container
            .footer__top
                .footer__top-description
                    a.footer__logo
                        img(src='../../../assets/images/logo.svg')
                    p.footer__description-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                +column-list({title: "Навигация", text: ["О нас", "Новости", "Служба поддержки", "Услуги"]})
                +column-list({title: "О нас", text: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]})
                +column-list({title: "Служба поддержки", text: ["Соглашения", "Сообщества", "Связь с нами"]})
                .footer__subscribe
                    p.footer__subscribe-title Подписка
                    p.footer__subscribe-text Получайте специальные предложения и новости сервиса
                    form(action='#')
                        +subscription-text-field
            .footer__down
                p.footer__down-copyright Copyright © 2018 Toxin отель. Все права защищены.
                .footer__social-media
                    a.footer__social-media-link.twitter
                        <i class="fab fa-twitter"></i>
                    a.footer__social-media-link.facebook
                        <i class="fab fa-facebook-square"></i>
                    a.footer__social-media-link.instagram
                        <i class="fab fa-instagram"></i>
        .footer-line
