mixin column(title,text)
    ul.footer__column-list= title
        each val in text
            li
                a.footer__column-item= val

footer.footer
    .container.footer__container
        .footer__top
            .footer__top-description
                a.logo.footer__logo
                    img(src='../../../assets/images/logo.png')
                p.footer__description-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            - var text = ["О нас", "Новости", "Служба поддержки", "Услуги"];
            - var title = "Навигация";
            +column(title, text)
            - var text = ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"];
            - var title = "О нас";
            +column(title, text)
            - var text = ["Соглашения", "Сообщества", "Связь с нами"];
            - var title = "Служба поддержки";
            +column(title, text)
            .footer__subscribe
                p.footer__subscribe-title Подписка
                p.footer__subscribe-text Получайте специальные предложения и новости сервиса
                form(action='#')
                    include ../subscription-text-field/subscription-text-field
                    +subscription-text-field
        .footer__down
            p.footer__down-copyright Copyright © 2018 Toxin отель. Все права защищены.
            .footer__social-media
                a.footer__social-media-link.twitter
                    <i class="fab fa-twitter"></i>
                a.footer__social-media-link.facebook
                    <i class="fab fa-facebook-square"></i>
                a.footer__social-media-link.instagram
                    <i class="fab fa-instagram"></i>
    .footer-line

