include ../enter-buttons/enter-buttons
include ../cabinet-button/cabinet-button

mixin side-menu({isAuthorized = false, menu = []} = {})
    .side-menu.js-side-menu
        .side-menu__holder
        .side-menu__close.js-side-menu__close
        nav.side-menu__nav
            ul.side-menu__menu
                each option in menu
                    li.side-menu__menu-item
                        if (option.isDropdown)
                            ul.side-menu__menu-dropdown.js-side-menu__menu-dropdown= option.text
                                .side-menu__menu-dropdown-open-button
                                each item in option.items
                                    li.side-menu__dropdown-item.js-side-menu__dropdown-item
                                        a= item
                        else
                            a= option.text
        .side-menu__buttons
            if !isAuthorized
                +enter-buttons
            else
                +cabinet-button({name: 'Юлий Цезарь'})
