@import '../../../scss/common/colors';
@import '../../../scss/common/templates';

%layout {
    color: $dark100;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.search-room {
    @extend %wrapper;

    &__main {
        display: flex;
        justify-content: center;
        padding: 30px 20px 78px;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__aside {
        flex: 0 0 326px;

        @media (max-width: 900px) {
            flex: unset;
        }
    }

    &__list {
        @media (max-width: 900px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
        }

        @media (max-width: 600px) {
            flex-flow: column nowrap;
            align-items: center;
        }
    }

    &__small-menu {
        display: none;

        @media (max-width: 900px) {
            display: flex;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            flex-basis: 40%;
        }

        &-content {
            display: none;
            top: 50px;
            position: absolute;
            background-color: #fff;
            z-index: 5;
            padding: 10px;
        }
    }

    &__item {
        max-width: 266px;
        margin-bottom: 30px;

        @media (max-width: 900px) {
            max-width: 100%;
            flex-basis: 40%;
            width: 100%;
        }

        @media (max-width: 600px) {
            flex-basis: 100%;
        }

        &_small-margin {
            margin-bottom: 20px;
        }

        &-extra-text {
            color: $dark50;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            margin-top: 10px;
            display: inline-block;
        }
    }

    &__layout {
        @extend %layout;
    }

    &__dropdown-layout {
        @extend %layout;

        margin-bottom: 5px;
    }

    &__slider-layout {
        @extend %layout;

        margin-bottom: -15px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 20px;
        max-width: 834px;

        @media (max-width: 900px) {
            justify-content: center;
        }

        &-title {
            width: 100%;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $dark100;

            @media (max-width: 900px) {
                text-align: center;
            }
        }
    }

    &__pagination-wrapper {
        margin: 22px auto 0;
        text-align: center;
    }

    &__small-menu > &__layout {
        border: 1px solid $dark50;
        border-radius: 22px;
        display: inline-block;
        cursor: pointer;
        padding: 5px;
    }
}
