.card.reservation
    -
        var obj = [
            {
                id: 'reservation__date-dropdown',
                idUnique: 'reservation__date-dropdown_start',
                text: 'прибытие'
            },
            {
                id: 'reservation__date-dropdown',
                idUnique: 'reservation__date-dropdown_end',
                text: 'выезд'
            }
        ]
    .reservation__info
        p.reservation__info-number № 888
            span.reservation__info-type люкс
        p.reservation__info-cost 9 990₽ в сутки
    .reservation__dates
        include ../double-date-dropdown/double-date-dropdown
        +double-date-dropdown(obj)
    .reservation__layout
        p.reservation__layout-text гости
        include ../dropdown/dropdown
        +dropdown('reservation__dropdown', 'default')
