include ../button/button
include ../date-dropdown-double/date-dropdown-double
include ../dropdown/dropdown

mixin reservation()
    .reservation
        .reservation__info
            p.reservation__info-number 888
                span.reservation__info-type люкс
            p.reservation__info-cost
                strong 9 990₽
                span в сутки
        .reservation__dates
            -
                const dateDropdownDoubleOptions = {
                    title1: 'Прибытие',
                    title2: 'Выезд',
                    placeholder: 'ДД.ММ.ГГГГ'
                }
            +date-dropdown-double(dateDropdownDoubleOptions)
        .reservation__layout
            +dropdown({type: 'default', title: 'гости'})
        .reservation__services
            -
                const reservationItems = [
                    {
                        text: '9 990₽ х 4 суток',
                        hasInfo: false,
                        price: '39 960₽'
                    },

                    {
                        text: 'Сбор за услуги: скидка 2 179₽',
                        hasInfo: true,
                        infoText: 'Скидка за красивые глаза',
                        price: '0₽'
                    },
                    {
                        text: 'Сбор за дополнительные услуги',
                        hasInfo: true,
                        infoText: 'Сбор за красивые глаза',
                        price: '300₽'
                    }
                ]
            ul.reservation__list
                each val in reservationItems
                    li.reservation__item
                        p.reservation__service=val.text
                        if val.hasInfo
                            div.reservation__info-label
                                span.reservation__info-label-text=val.infoText
                        p.reservation__price=val.price
        .reservation__total
            p.reservation__total-text Итого
            .reservation__total-border
            p.reservation__total-price 38 081₽
        .reservation__button
            +button({text: 'Забронировать', size: 'long', withArrow: true})
