.card.reservation
    -
        var obj = [
            {
                id: 'reservation__date-dropdown',
                idUnique: 'reservation__date-dropdown_start',
                text: 'прибытие'
            },
            {
                id: 'reservation__date-dropdown',
                idUnique: 'reservation__date-dropdown_end',
                text: 'выезд',
                class:'reservation__date-text-field'
            }
        ]
    .reservation__info
        p.reservation__info-number 888
            span.reservation__info-type люкс
        p.reservation__info-cost
            strong 9 990₽
            span в сутки
    .reservation__dates
        include ../double-date-dropdown/double-date-dropdown
        +double-date-dropdown(obj)
    .reservation__layout
        p.reservation__layout-text гости
        include ../dropdown/dropdown
        +dropdown('reservation__dropdown', 'default')
    .reservation__services
        -
            var obj = [
                {
                    text: '9 990₽ х 4 суток',
                    info:false,
                    price: '39 960₽'
                },

                {
                    text: 'Сбор за услуги: скидка 2 179₽',
                    info: true,
                    infoText:'Скидка за красивые глаза',
                    price: '0₽'
                },
                {
                    text: 'Сбор за дополнительные услуги',
                    info: true,
                    infoText: 'Сбор за красивые глаза',
                    price: '300₽'
                }
            ]

        include ./reservation-kit/reservation-mixin
        +services(obj)
    .reservation__total
        p.reservation__total-text Итого
        .reservation__total-border
        p.reservation__total-price 38 081₽
    .reservation__button
        include ../buttons/long-button
        +long-button('забронировать', true)
