extends ../../templates/template
include ../../blocks/footer/footer
include ../../blocks/header/header
include ../../blocks/registration/registration

block title
    title registration

block content
    .wrapper.registration-page
        +header(false)
        main.registration-page__main
            .registration-page__card-wrapper
                +registration
        +footer
