extends ../../templates/template
include ../../blocks/footer/footer
include ../../blocks/header/header

block title
    title registration

block content
    .wrapper.registration-page
        +header(false)
        main.registration-page__main
            include ../../blocks/registration/registration
            +registration(class='registration-page__card')
        +footer
