@import 'reservation';

@media (max-width: 390px) {
  .reservation__dates {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & .date-dropdown,
    & .text-field {
      max-width: 313px;
      width: 100%;
    }
  }
}
