mixin dropdown-item(obj = {})
    each val, index in obj
        li.dropdown-item
            p.dropdown-item-text(data-index=index)=val
            .dropdown-item-container
                div.dropdown-item-minus.dropdown-item-minus_inactive(data-type='minus', data-index=index)
                div.dropdown-item-count(data-type='count' data-index=index) 0
                div.dropdown-item-plus(data-type='plus' data-index=index)
