@import '../../../scss/common/colors';

.dropdown-item {
    color: $dark100;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
        display: flex;
        align-items: center;
    }

    &-minus {
        border: 1px solid $dark50;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            background-color: $dark50;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &_inactive {
            opacity: 0.5;
            cursor: initial;
        }
    }

    &-count {
        margin-left: 9px;
        margin-right: 12px;
        width: 10px;
        text-align: center;
    }

    &-plus {
        @extend.dropdown-item-minus;

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            background-color: $dark50;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
