mixin enter-buttons
    .enter-buttons
        a(href='sign-in.html').enter-buttons__log-in-button
            +button({text: 'Войти', type: 'transparent', size: 'default', modifier: 'flat'})
        a(href='registration.html').enter-buttons__sign-up-button
            +button({text: 'Зарегистрироваться', size: 'long', modifier: 'flat'})
