mixin enter-buttons
    .enter-buttons
        a.enter-buttons__log-in-button
            +button({text: 'Войти', type: 'transparent', size: 'default', modifier: 'flat'})
        a.enter-buttons__sign-up-button
            +button({text: 'Зарегистрироваться', size: 'long', modifier: 'flat'})
