mixin enter-buttons
    .enter-buttons
        +button({text: 'Войти', type: 'perforated', size: 'default', height: 'flat', htmlType: 'link', href: 'sign-in.html'}).enter-buttons__log-in-button
        +button({text: 'Зарегистрироваться', size: 'long', height: 'flat', htmlType: 'link', href: 'registration.html'}).enter-buttons__sign-up-button
