@import '../../scss/common/colors';
@import '../../scss/common/templates';

.reservation {
    @extend %card;

    max-width: 380px;
    width: 100%;

    &__info {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &-number {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $color-main-darker;
            position: relative;
            margin-left: 22px;

            &::before {
                position: absolute;
                left: -22px;
                bottom: 3px;
                content: '№';
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &-type {
            color: $color-main;
            text-transform: uppercase;
            line-height: 15px;
            font-size: 12px;
            margin-left: 8px;
        }

        &-cost {
            color: $color-main-middle;

            &-price {
                font-size: 14px;
            }

            &-date {
                font-size: 12px;
            }
        }
    }

    &__dates {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @media (max-width: 390px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    &__layout-text {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $color-main-darker;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__services {
        margin: 20px 0 25px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__service {
        font-size: 14px;
        line-height: 23px;
        color: $color-main-dark;
        max-width: 214px;
        margin-right: auto;
    }

    &__price {
        @extend.reservation__service;

        width: 77px;
        text-align: right;
        margin-right: initial;
    }

    &__total {
        display: flex;

        &-text {
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            color: $color-main-darker;
        }

        &-border {
            flex-grow: 1;
            border-bottom: 1px dotted $color-main-light;
            height: 18px;
        }

        &-price {
            @extend.reservation__total-text;
        }
    }

    &__button {
        margin-top: 20px;
    }

    &__info-label {
        width: 20px;
        height: 20px;
        background-image: url('../../assets/images/info.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        &-text {
            z-index: -1;
            position: absolute;
            display: block;
            opacity: 0;
            transition: opacity 0.2s;
            background: #c7c7cf;
            bottom: 30px;
            padding: 5px;
            border-radius: 5px;
        }

        &:hover &-text {
            opacity: 1;
            z-index: 1;
        }
    }

    & &__date-text-field {
        max-width: 150px;
    }
}
