@import "../../../../scss/common/colors";

.room-details {
  &__gallery-link {
    &:first-child {
      float: left;
    }

    &:not(:first-child) {
      height: 50%;
      display: grid;
    }
  }
  &__inner{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px;
    padding: 70px 0;
  }
  &__item {
    display: flex;
    width: 100%;

  }

  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: $dark100;
  }
  &__rating {
    width: 310px;
    height: 170px;
  }
  &__abort{
    max-width: 341px;
    &-text{
      font-size: 14px;
      line-height: 24px;
      color: $dark75;
    }
  }
}
