include ../button/button
include ../side-menu/side-menu
include ../enter-buttons/enter-buttons
include ../cabinet-button/cabinet-button
include ../font-awesome-icon/font-awesome-icon

mixin header({isAuthorized = false, name = 'Имя Фамилия'} = {})
    header.header.js-header
        .header__container
            .header__logo-burger
                +font-awesome-icon({
                    typeClass: 'fas',
                    iconClass: 'fa-hamburger'
                })
            .header__logo
                a.header__logo-link
                    img(src="../../../assets/images/logo.svg")
            div.header__menu-wrapper
                nav.header__nav
                    ul.header__menu
                        -
                            const options = [
                                {text: 'О нас', isDropdown: false},
                                {text: 'Услуги', items: ['Покупка', 'Покупка', 'Покупка'], isDropdown: true},
                                {text: 'Вакансии', isDropdown: false},
                                {text: 'Новости', isDropdown: false},
                                {text: 'Соглашение', items: ['О воде', 'О солях'], isDropdown: true}
                            ]
                        each option in options
                            li.header__menu-item
                                if (option.isDropdown)
                                    ul.header__menu-dropdown.js-header__menu-dropdown= option.text
                                        .header__menu-dropdown-open-button
                                        each item in option.items
                                            li.header__dropdown-item.header__dropdown-item_hide.js-header__dropdown-item
                                                a= item
                                else
                                    a= option.text
                .header__buttons
                    if !isAuthorized
                        +enter-buttons
                    else
                        +cabinet-button({name: name})
    +side-menu({
        isAuthorized: isAuthorized
    })
