include ../buttons/button
include ../side-menu/side-menu
include ../log-in-buttons/log-in-buttons
include ../cabinet-button/cabinet-button
mixin header(isAuthorized, name)
    -
        var isAuthorized = isAuthorized || false
        var name = name || 'Имя Фамилия'
        const headerDropdownItems1 = ['Покупка', 'Покупка', 'Покупка'];
        const headerDropdownItems2 = ['О воде', 'О солях'];
    header.header
        .header__container
            .header__logo-burger.fas.fa-hamburger
            .header__logo
                a.header__logo-link
                    img(src="../../../assets/images/logo.svg")
            div.header__menu-wrapper
                nav.header__nav
                    ul.header__menu
                        li.header__menu-item
                            a О нас
                        li.header__menu-item
                            ul.header__menu-dropdown.js-header__menu-dropdown Услуги
                                each item in headerDropdownItems1
                                    li.header__dropdown-item
                                        a= item
                        li.header__menu-item
                            a Вакансии
                        li.header__menu-item
                            a Новости
                        li.header__menu-item
                            ul.header__menu-dropdown.js-header__menu-dropdown Соглашение
                                each item in headerDropdownItems2
                                    li.header__dropdown-item
                                        a= item
                .header__buttons
                    if !isAuthorized
                        +log-in-buttons
                    else
                        +cabinet-button(name)
    +side-menu({
        jsClass: 'js-side-menu',
        isAuthorized: isAuthorized
    })
