@import '../../../scss/common/colors';
@import '../../../scss/common/functions';
@import '../../../scss/common/templates';

.header {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 20px rgb(31 32 65 / 5%);

    &__container {
        @extend %container;

        display: flex;
        justify-content: space-between;
        padding: 12px 16px;

        @media (max-width: 960px) {
            justify-content: center;
        }
    }

    &__logo {
        position: relative;

        &-burger {
            position: absolute;
            left: 5%;
            font-size: 2rem;
            color: $purple;

            @media (min-width: 960px) {
                display: none;
            }
        }
    }

    &__menu-wrapper {
        display: flex;
        align-items: center;
        z-index: 2;

        @media (max-width: 960px) {
            display: none;
        }
    }

    &__nav {
        @media (max-width: 960px) {
            display: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        &-dropdown {
            right: 0;
            position: relative;
            display: block;
            cursor: pointer;

            &-open-button {
                @extend %open-button-chevron;

                transform: translateY(25%);
                top: 0;
                right: -20px;
            }

            &_active &-open-button {
                transform: rotate(180deg);
            }
        }

        &-item {
            line-height: 17px;
            color: $dark50;
            position: relative;

            & > .header__menu-dropdown {
                margin-right: rem(44);
            }

            & a {
                margin-right: rem(20);
            }
        }
    }

    &__dropdown-item {
        display: block;
        position: absolute;
        border-radius: 8px;
        left: 0;
        border: 1px solid black;
        font-weight: initial;
        padding: 4px;
        background-color: #fff;

        &_hide {
            display: none;
        }

        & a {
            margin: 0;
        }

        @for $i from 1 through 3 {
            &:nth-child(#{$i + 1}) {
                top: $i * 30px;
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;

        @media (max-width: 960px) {
            display: none;
        }
    }
}
