include ../buttons/button
include ../side-menu/side-menu

mixin header(isAuthorized)
    header.header
        .container.header__container
            .header__logo
                a.header__logo-link
                    img(src="../../../assets/images/logo.png")
            div.header__menu-wrapper
                nav.header__nav
                    ul.header__menu
                        li.header__menu-item
                            a О нас
                        li.header__menu-item
                            ul.header__menu-dropdown.js-header__menu-dropdown Услуги
                                - const headerDropdownItems1 = ['Покупка', 'Покупка', 'Покупка'];
                                each item in headerDropdownItems1
                                    li.header__dropdown-item
                                        a= item
                        li.header__menu-item
                            a Вакансии
                        li.header__menu-item
                            a Новости
                        li.header__menu-item
                            ul.header__menu-dropdown.js-header__menu-dropdown Соглашение
                                - const headerDropdownItems2 = ['О воде', 'О солях'];
                                each item in headerDropdownItems2
                                    li.header__dropdown-item
                                        a= item
                .header__buttons
                    - var isAuthorized = isAuthorized || false
                    if !isAuthorized
                        +log-in-buttons
                    else
                        +cabinet-button('Юлий Цезарь')
    +side-menu({
        jsClass: 'js-side-menu',
        isAuthorized: isAuthorized
    })
