.filter-date-dropdown {
  max-width: 266px;
  position: relative;
  cursor: pointer;
  & &-input {
    cursor: pointer;
    background-color: transparent;
  }
  &_active &__open-button{
    transform: rotate(180deg) translateY(50%);
  }
  &__open-button{
    content:url("../../../../assets/images/arrow-down.png");
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 16px;
    border: none;
    cursor: pointer;
    transition: .3s;
    z-index: -1;
  }
}

