extends ../../templates/ui-kit-template
include ../../blocks/find-room/find-room
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/login/login
include ../../blocks/registration/registration
include ../../blocks/reservation/reservation
include ../../blocks/room-card/room-card

block title
    title cards

block content
    .cards
        .cards__container
            .cards__item
                +find-room
                +registration
            .cards__item
                +reservation
                +login
            .cards__item
                +date-dropdown({
                    type: 'inline'
                })
                -
                    let roomCardOptions = {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '888',
                        type: 'люкс',
                        cost: '9 990₽',
                        rating: 5,
                        reviews: 3,
                        uniqueID: 'qwe'
                    }
                +room-card(roomCardOptions)
                -
                    roomCardOptions = {
                        images: ['../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png', '../../assets/images/room.png'],
                        number: '840',
                        type: '',
                        cost: '990₽',
                        rating: 2,
                        reviews: 14,
                        uniqueID: 'rty'
                    }
                +room-card(roomCardOptions)
