@import '../../scss/common/colors';

.like-button {
    border-radius: 10px;
    display: inline-flex;
    border: 1px solid $color-main-light;
    min-width: 40px;
    height: 20px;
    padding: 3px 4px 4px;
    cursor: pointer;
    align-items: baseline;
    line-height: initial;
    font-weight: initial;

    &__icon {
        font-size: 10px;
        margin-right: 7px;
        color: $color-main-light;

        &_active {
            opacity: 0;
            width: 0;
            color: $color-main;
            font-size: 10px;
        }

        .like-button_active &_active {
            opacity: 1;
            width: initial;
            margin-right: 7px;
        }
    }

    &_active &__icon {
        display: none;
    }

    &__count {
        font-size: 10px;
        line-height: 12px;
        color: $color-main-light;
        text-transform: initial;
    }

    &_active {
        border: 1px solid $color-main;

        & .like-button__count {
            color: $color-main;
        }
    }
}
