include ../font-awesome-icon/font-awesome-icon

mixin like-button({likes = 0} = {})
    .like-button.js-like-button
        .like-button__icon
            +font-awesome-icon({
                typeClass: 'far',
                iconClass: 'fa-heart'
            })
        .like-button__icon_active
            +font-awesome-icon({
                typeClass: 'fas',
                iconClass: 'fa-heart'
            })
        p.like-button__count.js-like-button__count= likes
