@import '../../../scss/common/colors';
@import '../../../scss/common/templates';

%interactive-button {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    cursor: pointer;
}

.dropdown {
    max-width: 320px;
    position: relative;

    &__open-button {
        @extend %open-button-chevron;

        top: 50%;
        transform: translateY(-25%);
        right: 16px;
    }

    &__input-wrapper {
        &_active .dropdown__open-button {
            transform: rotate(180deg) translateY(50%);
        }
    }

    & &__input {
        &_active {
            border-radius: 4px 4px 0 0;
            border-color: $dark50;
        }
    }

    &__list {
        position: absolute;
        width: 100%;
        border: 1px solid $dark50;
        border-top: none;
        box-shadow: 0 10px 20px $dark5;
        border-radius: 0 0 5px 5px;
        padding: 5px 7px 13px 15px;
        background-color: #fff;
        display: none;
        z-index: 4;

        &_active {
            display: block;
        }
    }

    &__interactive {
        &-clear,
        &-confirm {
            @extend %interactive-button;
        }
    }
}
