include ../text-field/text-field
include ../dropdown-item/dropdown-item

mixin dropdown({type = 'default'} = {})
    -
        let placeholder = ''
        let hasButtons = false
        let className = 'dropdown-' + type
        let wordsArray = []
    if type === 'default'
        -
            hasButtons = true
            placeholder = 'Сколько гостей'
            wordsArray = ["взрослые", 'дети', "младенцы"]
    else if type = 'rooms'
        -
            wordsArray = ["спальни", 'кровати', "ванные комнаты"]
            placeholder = 'Сколько комнат'
    div.dropdown.js-dropdown(class=className)
        .dropdown__input-wrapper.js-dropdown__input-wrapper
            span.dropdown__open-button
            +text-field({withPadding: true, withDropdown: true,  placeholder: placeholder})(readonly)
        ul.dropdown__list.js-dropdown__list
            +dropdown-item(wordsArray)
            if hasButtons
                li.dropdown__item-interactive
                    p.dropdown__interactive-clear.js-dropdown__interactive-clear очистить
                    p.dropdown__interactive-confirm.js-dropdown__interactive-confirm применить
