mixin range-slider({jsClassInput = '', jsClassCounter = ''} = {})
    .range-slider
        .range-slider__count(class = jsClassCounter)
        input(type="text" class="range-slider__slider" class = jsClassInput value="")
