mixin pros-item(obj)
    .pros
        each val in obj
            .pros__container
                img()
                .pros__inner
                    p.pros__title=val.title
                    p.pros__text=val.text
