mixin column-list({title = 'title', textArray = []} = {})
    ul.column-list= title
        each text in textArray
            li
                a(href='/mock-address/change-me').column-list__item= text
