@import '../../scss/common/colors';
@import '../../scss/common/functions';

.column-list {
    max-width: rem(150);
    text-transform: uppercase;
    color: $color-main-darker;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: 1060px) {
        display: none;
    }

    &__item {
        font-size: 14px;
        line-height: 17px;
        font-style: normal;
        font-weight: normal;
        color: $color-main-middle;
        text-transform: none;
        margin-top: 22px;
        display: block;
    }
}
