@import '../../scss/common/colors';
@import '../../scss/common/templates';

.date-dropdown {
    background-color: #fff;
    width: 100%;

    &__input {
        width: 100%;
        background-color: transparent;
        position: relative;
        font-family: inherit;

        &-title {
            color: $color-main-darker;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 15px;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &-open-button {
            @extend %open-button-chevron;

            bottom: 12px;
            right: 14px;
        }

        &_active .date-dropdown__input-open-button {
            transform: rotate(180deg) translateY(35%);
        }

        &_long {
            max-width: 266px;
        }
    }

    &_double {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @media (max-width: 370px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        & .date-dropdown__input {
            max-width: 150px;

            @media (max-width: 370px) {
                max-width: 300px;
                width: 100%;
            }
        }

        & .date-dropdown-double__input_active .date-dropdown__input-open-button {
            transform: rotate(180deg) translateY(35%);
        }
    }

    &_inline {
        & .date-dropdown__input > *:not(.air-datepicker) {
            display: none;
        }
    }
}

.air-datepicker {
    width: 318px;
    border: 1px solid $color-main-light;
    font-family: Montserrat, sans-serif;
    box-shadow: none;

    &--pointer {
        display: none;
    }

    &-nav {
        margin-top: 11px;
        border-bottom: none;

        :first-child {
            margin-left: 10px;
        }

        :last-child {
            margin-right: 10px;
        }

        &--title {
            font-weight: bold;
            font-size: 19px;
            line-height: 22.8px;
            color: $color-main-darker;
        }

        &--action {
            position: relative;
        }
    }

    &__arrow {
        @extend %arrow;

        background-color: $color-main;

        &_left {
            transform: rotate(180deg);
        }
    }

    &--content {
        width: 280px;
        margin: 23px auto 0;
    }

    &-body {
        &--day-names {
            margin-bottom: 14px;
        }

        &--day-name {
            color: $color-main;
            font-weight: bold;
            line-height: 14.4px;
        }

        &--cells.-days- {
            grid-auto-rows: 40px;
        }
    }

    &-cell {
        color: $color-main-middle;
        font-size: 12px;
        line-height: 14.4px;
        width: 40px;
        height: 40px;

        &.-current- {
            background: $gradient-secondary;
            color: white;
            font-weight: bold;
            border-radius: 50%;

            &.-in-range- {
                border-radius: 0;
                font-weight: normal;
                color: $color-main-middle;
            }
        }

        &.-focus- {
            border-radius: 50%;
            color: white;
            background: $gradient-main;
            font-weight: bold;

            &.-in-range- {
                font-weight: normal;
                border-radius: 0;
                background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
            }
        }

        &.-select- {
            border-radius: 50%;
            background: $gradient-main;
            font-weight: bold;
        }

        &.-selected- {
            border-radius: 50%;
            background: $gradient-main;
            font-weight: bold;
            z-index: 1;

            &.-focus- {
                background: $gradient-main;
                border-radius: 50%;
            }

            &.-range-from-::before {
                content: '';
                position: absolute;
                z-index: -1;
                right: 0;
                border-radius: 50% 0 0 50%;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
            }

            &.-range-to-::before {
                content: '';
                position: absolute;
                z-index: -1;
                right: 0;
                border-radius: 0 50% 50% 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
            }
        }

        &.-range-from- {
            border: none;
            border-radius: 50%;
            background: $gradient-main;

            &.-select- {
                border-radius: 0;
            }
        }

        &.-range-to- {
            border: none;
            border-radius: 50%;
            background: $gradient-main;
        }

        &.-in-range- {
            background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
            color: $color-main-middle;
        }
    }

    &--buttons {
        border-top: none;
        padding-left: 8px;
        padding-right: 8px;

        & .air-datepicker-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            margin-bottom: 5px;

            :first-child {
                margin-left: 5px;
            }

            :last-child {
                margin-right: 5px;
            }

            & .air-datepicker-button {
                color: $color-main;
                font-size: 12px;
                line-height: 14.4px;
                font-weight: bold;
                text-transform: uppercase;

                span {
                    font-family: Montserrat, sans-serif;
                }

                &:hover {
                    background: initial;

                    & span {
                        color: $color-main-middle;
                    }
                }
            }
        }
    }
}
