extends ../../templates/template
include ../../blocks/find-room/find-room
include ../../blocks/header/header
include ../../blocks/footer/footer

block title
    title landing

block content
    .wrapper
        .landing
            +header(false)
            .landing__main
                +find-room
                span.landing__main-text Лучшие номера для вашей работы, отдыха и просто вдохновения
            +footer
