extends ../../templates/page-template
include ../../blocks/find-room/find-room

block title
    title landing

block content
    .landing
        .landing__main
            +find-room
            span.landing__main-text Лучшие номера для вашей работы, отдыха и просто вдохновения
