mixin pros(obj = [{}])
    .pros
        each val in obj
            .pros__container
                .pros__container-img-wrapper
                    img(src = val.img)
                .pros__inner
                    p.pros__title=val.title
                    p.pros__text=val.text
