@import '../../scss/common/colors';

.pros {
    width: 280px;
    padding-left: 5px;

    &__container {
        padding: 20px 0;
        border-bottom: 1px solid rgb(31 32 65 / 10%);
        display: flex;
        align-items: center;

        &:first-child {
            padding-top: 21px;
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
        }

        &-img-wrapper {
            max-width: 43px;
            width: 100%;
        }
    }

    &__inner {
        margin-left: 10px;
    }

    &__title {
        color: $color-main-dark;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
    }

    &__text {
        @extend.pros__title;

        font-weight: normal;
    }
}
