mixin pros(options = [{}])
    .pros
        each option in options
            .pros__container
                .pros__container-img-wrapper
                    img(src = option.img)
                .pros__inner
                    p.pros__title=option.title
                    p.pros__text=option.text
