@import '../../../../scss/common/colors';
@import '../_focus/focus';

.text-field {
  max-width: 320px;
  height: 44px;
  width: 100%;
  padding: 8px 15px;
  display: block;
  border-radius: 4px;
  border: 1px solid $dark25;
}
